## -------------------------------------------------------
CMS_ADMIN_EMAIL=your_email@address.com 
CMS_ADMIN_PASSWORD=your_password
# These should be a random long strings. You can run `openssl rand -base64 24` in a shell and just use that output
CMS_ADMIN_TOKEN=random_string 
CMS_SECRET_KEY=secret_key 
CMS_SESSION_SECRET=session_secret 

DATABASE_PASSWORD=database_password
TIMEZONE=America/Vancouver

NEXT_PUBLIC_CMS_URL=http://localhost:8055