## ----------------------------------------------------- 
##
##
## ----------------------------------------------------- 
TIMEZONE=America/Vancouver
DATABASE_PASSWORD=database_password

## CMS TOKENS
## These should be a random long strings. You can run `openssl rand -base64 24` in a shell and just use that output
CMS_ADMIN_TOKEN=random_string 
CMS_SECRET_KEY=secret_key 
CMS_SESSION_SECRET=session_secret 

## CMS ADMIN USER
CMS_ADMIN_EMAIL=your_email@address.com 
CMS_ADMIN_PASSWORD=your_password

## CMS PUBLIC URL
## You can change this after you've set up your reverse proxy
NEXT_PUBLIC_CMS_URL=http://localhost:8055

## WEBSITE PUBLIC URL
## The URL your readers will have access to
NEXT_PUBLIC_SITE_URL=http://localhost:3000

## WEBSITE PUBLIC ADMIN EMAIL
## Publicly-accessible admin email contact
NEXT_PUBLIC_ADMIN_CONTACT_EMAIL=your_email@address.com

## CMS SMTP EMAIL VARS
CMS_SMTP_HOST=
CMS_SMTP_PORT=
CMS_SMTP_USER=
CMS_SMTP_PASSWORD=
CMS_SMTP_SECURE=
CMS_SMTP_IGNORE_TLS=
CMS_SMTP_NAME=

## SERVE DIRECTUS WEB APP
## **Advanced Option**:
## If you have experience with Directus, know what you're doing,
## and want to customize your setup beyond the scope of our project,
## set this to `true`
CMS_SERVE_APP=false
